.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 72px;
    margin: 0;
    background-color: var(--bg-primary);
    padding: 10px 32px;
}

.footerRights {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-light);
}

.footerPolicy {
    display: flex;
    justify-content: center;
}

.footerLink {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-light);
    transition: color 0.3s ease-out;
}

.footerLink:not(:last-child) {
    margin-right: 40px;
}

.footerLink:hover {
    color: #d3cece;
}

@media (max-width: 870px) {
    .footer {
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }

    .footerPolicy {
        flex-wrap: wrap;
    }
}

@media (max-width: 583px) {
    .footerPolicy {
        justify-content: center;
        flex-direction: column;
    }
    .footerLink:not(:last-child) {
        margin-right: 0;
    }
}

@media (max-width: 360px) {
   .footerRights,
   .footerLink {
       font-size: 12px;
   }
}
