.textarea {
    width: 100%;
    padding: 7px 15px;
    color: var(--color-black);
    border: none;

    outline-color: var(--color-primary);
    background-color: var(--color-light);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-family);
}

.textarea::placeholder {
    color: var(--color-gray);
}

.error {
    border: 1px solid var(--color-red);
    outline: 1px solid var(--color-red);
}

.errorMessage {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: var(--color-red);
}

.textAreaWrapper {
    position: relative;
}
