
.search {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.input {
    width: 100%;
    min-height: 36px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    transform: translate(-12%, 11%);
}
