.tag {
    display: inline-block;

    box-sizing: border-box;
    margin-right: 5px;

    border-radius: 20px;
}

.sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 12px;
}

.md {
    padding: 5px 10px;
    font-size: 14px;
}

.ghost {
    border: 1px solid var(--bg-greenlight);
}

.red,
.grey,
.green,
.primary {
    font-weight: 700;
    color: var(--color-light);
    background-color: #de0000;
}

.grey {
    background-color: #b3c0d9;
}

.green {
    color: var(--color-green);
    background-color: var(--bg-greenlight);
}

.primary {
    color: var(--color-primary);
    background: none;
    border: 1px solid var(--color-primary);
}
