html,
body {
	margin: 0;
	padding: 0;
	color: var(--color-black);
	background: #f5f6f8;

	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--color-black: #3b434e;
	--color-light: #ffffff;
	--bg-primary: #7653fc;
	--color-primary: #7653fc;
	--bg-red: #fc836d;
	--bg-green: #1dc37e;
	--color-green: #1dc37e;
	--bg-greenlight: #c8f8e4;
	--font-family: 'Roboto', sans-serif;

	--color-gray-light: #ebebeb;
	--color-gray-dark: #787D85;
}
